[Unit]
Description=pihealthd-2.0
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/usr/bin/pihealth/pihealthd.start
ExecStop=/usr/bin/pihealth/pihealthd.stop

[Install]
WantedBy=multi-user.target
